body {
    font-family: "Cormorant", serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    margin: 0;
  }
  /* Header Stuff Here*/
  header {
    background-color: #f2f0f0;
    padding: 1rem 2vw;
    text-align: center;
  
  }
  header h1 {
    margin: 0;
    color: #0d0d0d;
    font-size: 75px;
  }
  header p {
    margin: 0;
    color: #0d0d0d;
    letter-spacing: .5px;
  }
  /* nav stuff goes here*/
  nav {
    background-color: #0d0d0d;
    text-align: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
  }
  nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #f2f0f0;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
  }
  nav li.active a {
    background-color: #732432;
    color: #f2f0f0;
  }
  nav a:hover {
    color: #732432;
  }

  /* stuff for the main*/
  main {
    padding: 1rem 2vw;
  }
  main h1 {
    color: #394d73;
  }
  main h2 {
    color: #0d0d0d;
    margin-bottom: .2rem;
  }
  main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
  }
  main p a {
    font-style: italic;
    color:#0d0d0d;
   margin: 0;
   text-align: center;
  
  }
  main ol {
    padding: .5rem 3vw;
    background-color: #f2f0f0;
  }
  main dl dt {
    color: #732432;
    font-weight: 700;

  }
  main dl dd {
    color: #0d0d0d;
    font-size: .9rem;
  }
  main ol {
    list-style-type: none;
    color:#0d0d0d
  }
  main ol li a {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    color:#0d0d0d;
  }

  main address {
    font-style: normal;
    background-color: #0d0d0d;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #732432;
    border-radius: .5rem;
    color: #f2f0f0;
  }

main a {
    color: #f2f0f0;
}
main a:hover {
    color: #732432;
}

/* footer stuff here*/
footer {
    background-color: #0d0d0d;
    text-align: center;
    color: #f2f0f0;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #f2f0f0;

}