/* prevent problems with different browsers*/
* {box-sizing: border-box;}

body {
    font-family: "Cormorant", serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    margin: 0;
  }
  /* Header Stuff Here*/
  header {
    background-color: #f2f0f0;
    padding: 1rem 2vw;
    text-align: center;
    display: flex;
    align-items: flex-end;
  
  }
  header div {
    padding-left: 2vw;
  }

  header h1 {
    margin: 0;
    color: #0d0d0d;
    font-size: 75px;
  }
  header p {
    margin: 0;
    color: #0d0d0d;
    letter-spacing: .5px;
  }
  /* small screens*/
@media only screen and (max-width: 800px) {
  nav {
    background-color: #0d0d0d;
    text-align: center;
  }
  nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
  }
  nav a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 1px #f2f0f0;
    color: #f2f0f0;
  }
  nav .active a {
    background-color: #732432;
    background-image: linear-gradient(#732432, #0d0d0d);
    color: #f2f0f0;
  }

} /* end of the media query*/

/* BIG SCREENS*/
@media only screen and (min-width: 801px) {
  nav {
    background-color: #0d0d0d;
    text-align: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
  }
  nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #f2f0f0;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
  }
  nav li.active a {
    background-color: #732432;
    color: #f2f0f0;
  }
  nav a:hover {
    color: #732432;
  }

} /*end of the media query*/








 

  /* stuff for the main*/
  main {
    padding: 1rem 2vw;
  }
  main h1 {
    color: #394d73;
    text-align: center;
  }
  main h2 {
    color: #0d0d0d;
    margin-bottom: .2rem;
  }
  main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
  }
  main p a {
    font-style: italic;
    color:#0d0d0d;
   margin: 0;
   text-align: center;
  
  }
  main ol {
    padding: .5rem 3vw;
    background-color: #f2f0f0;
  }
  main dl dt {
    color: #732432;
    font-weight: 700;

  }
  main dl dd {
    color: #0d0d0d;
    font-size: .9rem;
  }
  main ol {
    list-style-type: none;
    color:#0d0d0d
  }
  main ol li a {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    color:#0d0d0d;
  }

  main address {
    font-style: normal;
    background-color: #0d0d0d;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #732432;
    border-radius: .5rem;
    color: #f2f0f0;
  }

main a {
    color: #f2f0f0;
}
main a:hover {
    color: #732432;
}

.hero {
  width:100%;
  margin: 0;
}

.hero img {
  width:100%;
  height: auto;

}

figure.wrapped {
  
  float: center;
}
figure.wrapped img {
  width: 100%;
  height: auto;
}
figure.wrapped figcaption {
  text-align: center;
  font-size: .75rem;
}

div.gallery {
  display:flex;
  flex-wrap: wrap;
}


div.gallery img:hover {
  box-shadow: 0px 0px 10px black;
}

div.gallery figure {
  margin:.5rem 2% 0 0;

}
div.gallery figcaption {
  text-align: center;
  font-size: .8rem;
  color:#732432;
  
}

/* footer stuff here*/
footer {
    background-color: #0d0d0d;
    text-align: center;
    color: #f2f0f0;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #f2f0f0;

}
.myform fieldset {
  border: 1px solid #732432;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.myform legend {
  color: #2f3133;
  font-size: .8rem;
}

.myform label {
  margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea {
  display: block;
}

.myform [type=text], .myform [type=tel], .myform [type=email], .myform select, .myform textarea
{
  border: solid 1px #732432;
  padding: .3rem;
  width: 250px;
  border-radius: .3rem;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
}

.myform textarea {
  height: 6rem;

}

.myform :required {
  background-color: rgba(156,51,53,0.1);
}

.myform [type=submit] {
  background-color: #732432;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: white;
  margin: 1rem 0 0 1vw;
}

header, nav, main, footer {
  max-width: 64rem;
  margin: 0 auto;
}